/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/* Global settings */
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

a{
	text-decoration: none;
	color: inherit;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact,#login{
	width: 50%;
margin: auto;
}
#contact > *, #login >*,#input-modale >*{
	text-align: center;
}
#contact h2, #login h2, #input-modale h2{
	margin-bottom: 20px;
}
#contact form, #login form, #input-modale form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, #input-modale input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label, #input-modale label{
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea, #input-modale textarea{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login .forgot-password {
    text-align: center;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* login Bold when user on login.html */
.bold-link{
	font-weight: bold;
}

/* ........Filters.........*/

#filters{
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

#filters button {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: transparent;
	border: 2px solid #1D6154;
	margin: 0 10px;
	padding: 10px 20px;
	border-radius: 60px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
  }
  
  #filters button.active {
	background-color: #1D6154;
	color: white;
  }
  
  #filters button:hover {
	background-color: #1D6154;
	color: white;
  }

/*  Style "modifier" to have access to the modal when icon is clicked */
#projets-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto; 
}

#projets-container h2 {
    margin: 0 25px;
}

#projets-container a {
    display: flex;
    align-items: center;
}

#projets-container a i {
    margin-right: 10px;
    font-size: 18px;
}

  /* ......MODAL...... */

/*Global settings*/
* {
	box-sizing: border-box;
}
#edit-link {
    display: none;
}

/* Black top-bar settings*/
.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-bar span {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.top-bar i {
    margin-right: 10px;
}

/* Modal settings */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-wrapper {
    text-align: center;
    width: 90%;
    max-width: 630px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 87%;
    height: auto;
    overflow-y: auto;
}

.js-modal-stop {
    position: relative;
}

.js-modal-close i {
    display: flex;
    flex-direction: row-reverse;
	cursor: pointer;
}

/* Display modal gallery settings*/
.modal-gallery {
	margin: 20px 62px 0 62px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacement entre les éléments */
    padding: 20px;
    overflow: hidden; /* Empêche les éléments de déborder de la galerie */
}

/*Button to get access to the second modal*/
.add-photo-button {
    font-family: 'Syne';
    font-weight: 700;
    color: #ffffff;
    background: #1D6154;
    border: 2px solid #1D6154;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 60px;
    cursor: pointer;
}


/* Trash icon to delete project */
.img-container {
	position: relative;
	display: inline-block;
  }
  
  .img-container img {
	width: 77px;
	height: auto;
	display: block;
	margin-bottom: 20px;
  }
  
  .trash-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	background-color: black;
	padding: 6px;
	border-radius:5px;
	cursor: pointer;
	z-index: 10;
  }

  .js-modal-back{
display: flex;
}

/* Form settings */
#input-modale{
	width: 75%;
margin: auto;
}

#input-modale select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 50px;
}

/* Visualization of selected picture by user */
.fenetre-ajout{
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	padding: 20px 200px;
	background: #E8F1F6;
}
.fenetre-ajout p{
	margin-top: 15px;
}

.fenetre-ajout {
    margin-top: 20px;
}

.fenetre-ajout img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.fenetre-ajout input[type="file"] {
    display: none;
}

.fenetre-ajout label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 20px;
    cursor: pointer;
}
.fenetre-ajout i{
	margin-bottom: 30px;
}

.hidden {
    display: none;
}

.large-icon {
    font-size: 70px;
    color: #B9C5CC;
}

/* Decoration line */
.line {
    border: 1px solid #B3B3B3;
    width: 75%;
    margin-bottom: 30px;
}

/* Button settings to send a projet */
.add-photo-button {
    font-family: 'Syne';
    font-weight: 700;
    color: #ffffff;
    background: #1D6154;
    border: 2px solid #1D6154;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 60px;
    cursor: pointer;
}

/* Error message */
#title-error, #photo-error, #category-error {
	color: red;
	margin-top: 10px;
  }
  